:root {
  --color-nb2: #e7004c;
  --color-white: #fff;
  --color-nb2-bg: #00205b;
  --color-nb1-text: gray;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* first navbar css */

.navbar-1 {
  display: flex;
  justify-content: space-between;
  justify-items: center;
  padding: 15px 20px;
  height: 8.5vh;
  /* height: 60px; */
  background-color: var(--color-white)
}

.navbar-1 .logo {
  align-self: center;
}

.marketing ul,
.dropdown-about-lang-publicity>ul,
.social-media-links>ul {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 5px;
}

.navbar-1 ul li {
  list-style: none;
  padding: 0 5px;
}

.navbar-1>div:nth-child(2) {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-1 .dropdown-about-lang-publicity a,
.navbar-1 .marketing a {
  text-decoration: none;
  color: var(--color-nb1-text);
  opacity: 50%S;
  transition: color 0.2s;
  font-weight: 500;
}

.navbar-1 .dropdown-about-lang-publicity a:hover,
.navbar-1 .marketing a:hover {
  color: var(--color-nb2-bg);
}

.dropdown-about-lang-publicity .dropdown {
  position: relative;
}

.dropdown-about-lang-publicity ._hide {
  display: none;
  position: absolute;
  background-color: var(--color-white);
  z-index: 1;
}

.dropdown-about-lang-publicity ._hide li {
  padding: 5px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);

}

.dropdown-about-lang-publicity .dropdown:hover ._hide {
  display: block;
}

.navbar-1 .divider {
  opacity: 25%;
}

.social-media-links img {
  width: 25px;
}

/* second navbar css */

.navbar-2 {
  display: flex;
  justify-content: end;
  align-items: center;
  height: 3.5vh;
  background-color: var(--color-nb2-bg)
}

.navbar-2 div {
  position: relative;
  color: var(--color-white);
  padding: 3px 8px;
  background-color: var(--color-nb-bg);
  transition: background-color 0.8s;
}

.navbar-2 .hide li {
  list-style: none;
  padding: 3px;
  border-top: 1px solid rgba(255, 255, 255, 0.5);

}

.hide {
  display: none;
  position: absolute;
  left: 0;
  min-width: max-content;
  width: auto;
  padding: 0 5px;
  margin-top: 3px;
  background-color: var(--color-nb2);
}

.navbar-2 div:hover .hide {
  display: block;
}

.navbar-2 div:hover {
  background-color: var(--color-nb2);

}

.navbar-2 .divider {
  opacity: 50%;
  color: var(--color-white);
  align-self: center;
}

/*  */
/* scrolling wallpapers */
/*  */
.slider {
  /* width: 800px;
    height: 500px; */
  /* border-radius: 10px; */
  width: 100%;
  /* full width*/
  height: 88vh;
  overflow: hidden;
  /* outline: 2px solid red; */
}

.slides {
  width: 800%;
  /* if 4 images then give 500% if 8 images then give 900% etc*/
  height: 500px;
  display: flex;
}

.slides input {
  display: none;
}

.slide {
  width: 12.5%;
  /*#radio1:checked ~ .first <-- this increases by width value each time */
  transition: 2s;
}

.slide img {
  /* width: 800px;
    height: 500px; */
  height: 88vh;
  width: 100%;
  object-fit: cover;
}

/*css for manual slide navigation*/

.navigation-manual {
  position: absolute;
  /* width: 800px; */
  width: 100%;
  /* margin-top: -40px; */
  margin-top: 12vh;
  display: flex;
  justify-content: center;
  /* outline: 2px solid red; */
}

.manual-btn {
  border: 2px solid #40D3DC;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

.manual-btn:not(:last-child) {
  margin-right: 40px;
}

/* .manual-btn:hover{
    background: #40D3DC;
  } */

#radio1:checked~.first {
  margin-left: 0;
}

#radio2:checked~.first {
  margin-left: -12.5%;
}

#radio3:checked~.first {
  margin-left: -25%;
}

#radio4:checked~.first {
  margin-left: -37.5%;
}

#radio5:checked~.first {
  margin-left: -50%;
}

#radio6:checked~.first {
  margin-left: -62.5%;
}

#radio7:checked~.first {
  margin-left: -75%;
}

/*css for automatic navigation*/

.navigation-auto {
  position: absolute;
  display: flex;
  /* width: 800px; */
  width: 100%;
  justify-content: center;
  /* margin-top: 460px; */
  margin-top: 82.5vh;
}

.navigation-auto div {
  border: 2px solid #40D3DC;
  padding: 5px;
  border-radius: 10px;
  transition: 1s;
}

.navigation-auto div:not(:last-child) {
  margin-right: 40px;
}

#radio1:checked~.navigation-auto .auto-btn1 {
  background: var(--color-nb2);
}

#radio2:checked~.navigation-auto .auto-btn2 {
  background: var(--color-nb2);
}

#radio3:checked~.navigation-auto .auto-btn3 {
  background: var(--color-nb2);
}

#radio4:checked~.navigation-auto .auto-btn4 {
  background: var(--color-nb2);
}

#radio5:checked~.navigation-auto .auto-btn5 {
  background: var(--color-nb2);
}

#radio6:checked~.navigation-auto .auto-btn6 {
  background: var(--color-nb2);
}

#radio7:checked~.navigation-auto .auto-btn7 {
  background: var(--color-nb2);
}

/* article 2 */
.gith {
  height: 80px;
  position: relative;
  background-color: #f0f0f0;
}

.gith h1 {
  font-size: xx-large;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.w95-center {
  width: 95%;
  margin: auto;
}

.form div {
  display: flex;
  align-items: center;
}

.form div .input {
  width: 30%;
  height: 40px;
  border: none;
  margin: auto;
  outline: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.sub-btn {
  position: relative;
  height: 60px;
  margin-top: 8px;
}

.sub-btn input {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px 70px;
  font-size: xx-large;
  font-weight: 800;
  background-color: var(--color-nb2);
  color: var(--color-white);
}

/* article 3 */
.lgys {
  position: relative;
  height: 200px;
}

.lgys h1 {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-weight: 800;
  font-size: xx-large;
  margin-top: 50px;
}

.lgys h3 {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: x-large;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* grid */

.animatedGrid {
  max-width: 100vw;


}

.animatedGrid ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.animatedGrid ul li {
  list-style: none;
}

.animatedGrid ul li img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.animatedGrid ul li:nth-child(1) div {
  background-color: #06b0ef;
  height: 100%;
}

.animatedGrid ul li:nth-child(3) div {
  background-color: #f6931d;
  height: 100%;

}

.animatedGrid ul li:nth-child(6) div {
  height: 100%;
  background-color: #3eb74e;
}

.animatedGrid ul li:nth-child(8) div {
  height: 100%;
  background-color: #9c1f62;
}

/* animatedGrid */
.animatedGrid h1 {
  font-family: 'Courier New', Courier, monospace;
  color: white;
  text-align: center;
  padding-top: 80px;
  font-size: xx-large;
}

.animatedGrid h1,
.animatedGrid p {
  width: 90%;
  margin: auto;
}

.animatedGrid p {
  font-family: 'Courier New', Courier, monospace;
  color: white;
  padding-top: 20px;
}

.animatedGrid .card-left {
  transform: translate(100%);
  transition: transform 1s ease-in-out;
}

.animatedGrid .card-right {
  transform: translate(-100%);
  transition: transform 1s ease-in-out;
}

.animatedGrid .show {
  transform: translate(0, 0);
}

.animatedGrid .card {
  z-index: 1S;

}

/* animated grid 2 */
.bg-color-grey {
  background-color: #f0f0f0;
}

.animatedGrid2 .inner1-img,
.animatedGrid2 .inner2-img {
  height: 350px;
  overflow: hidden;
  margin: 0 auto;
  object-fit: fill;
}

.animatedGrid2 .inner1-img img,
.animatedGrid2 .inner2-img img {
  height: 100%;
  transform: scale(1.1);

  transition: all 0.5s ease-in-out 0.2s;
}

.animatedGrid2 .inner1-img:hover img,
.animatedGrid2 .inner2-img:hover img {
  transform: scale(1);
}

.animatedGrid2-container {
  display: flex;
  justify-content: space-between;
}

.animatedGrid2-container>div {
  width: 48.5%;
  height: auto;
  /* overflow: hidden; */
  background-color: var(--color-white);
}

.animatedGrid2 .inner1,
.animatedGrid2 .inner2 {
  width: 90%;
  margin: 2rem auto;
}

.animatedGrid2 .inner1 h1,
.animatedGrid2 .inner2 h1,
.animatedGrid2-sub-section2 div .inner h1 {
  background-color: #f0f0f0;
  font-size: xx-large;
  text-align: center;
  padding: 1.5rem 0;
}

.animatedGrid2 .inner1 p,
.animatedGrid2 .inner2 p,
.animatedGrid2-sub-section2 div .inner p {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: large;
  padding: 1.5rem 0;

}

.animatedGrid2 .animatedGrid2-sub-section2 {
  display: flex;
  justify-content: space-between;
  margin: 10rem 0;
  transition: margin 0.5s;
}

.animatedGrid2 .animatedGrid2-sub-section2.show {
  margin: 2rem 0;
}

.animatedGrid2 .animatedGrid2-sub-section2 div {
  width: 31.5%;
  background-color: white;
}

.animatedGrid2 .animatedGrid2-sub-section2 div img {
  width: 100%;
  margin: 0 auto;

}

.animatedGrid2 .animatedGrid2-sub-section2 div .inner {
  width: 90%;
  margin: 0 auto;
}

.latestBlogs {
  background-color: white;
}

.latestBlogs ul {
  display: flex;
  justify-content: space-evenly;
}

.latestBlogs ul li {
  /* margin-top: 1.5rem;; */
  list-style: none;
  background-color: #f0f0f0;
  box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.1);
  width: 22%;
  cursor: pointer;
}

.latestBlogs ul li img {
  width: 100%;
}

.latestBlogs ul li p {
  text-align: center;
  padding: 1rem;
  font-size: larger;
  padding-bottom: 5rem;
}

/* footer design*/

footer {
  background-color: #222222;
}

footer .main {
  display: flex;
  justify-content: space-between;
  padding-top: 2rem;
}

footer .main .variousLinks {
  display: flex;
  justify-content: space-between;
  width: 60%;
}

footer .main li {
  list-style: none;
  padding: 0.5rem 1rem;
  display: inline-block;
}

footer .main li:hover a {
  color: #d1c7c7
}

footer .main a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: medium;
  font-weight: 500;
}

.signupAndSocial #email {
  width: 15rem;
  height: 2rem;
  text-align: center;
  background-color: grey;
  border: 1px solid black;
  outline: none;
}

.more-links {
  display: flex;
  ;
  justify-content: space-between;
  padding: 2rem 0;
}

.more-links ul:nth-child(1) {
  display: flex;
  justify-content: space-evenly;
  width: 800px;
}

.more-links ul li {
  list-style: none;
  color: white;
}

.more-links a {
  color: white;
  text-decoration: none;
  text-transform: capitalize;
}

.floating-btn {
  position: relative;
  z-index: 2;
}

.floating-btn .center-btn {
  position: fixed;
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
}

.floating-btn .center-btn .btn1 button::before {
  content: url(./images/color-pallet-icon.png);
  display: inline-block;
  position: absolute;
  left: 10px;
  top:0;
  margin: auto 0;
  height: 100%;
  object-fit: cover;
}

.floating-btn .center-btn .btn2 button::before {
  content: url(./images/paint-service-icon.png);
  display: inline-block;
  position: absolute;
  left: 10px;
  top:0;
  margin: auto 0;
  height: 100%;
  object-fit: cover;
}

.center-btn span:nth-child(2) {
  text-transform: uppercase;
  padding-left: 5px;
  font-weight: 700;
}

.center-btn span:nth-child(1) {
  text-transform: capitalize;
  padding-left: 60px;
  font-weight: 700;
}

.floating-btn .btn1 button,
.floating-btn .btn2 button {
  /* padding: 0.5rem 4rem; */
  width: 200px;
  height: 60px;
  background-color: #e7004c;
  transform: translate(50%);
  transition: transform 0.3s;
  color: white;
  border: 1px solid white;
  text-align: center;
}

.floating-btn .btn1:hover button,
.floating-btn .btn2:hover button {
  transform: translate(0);
}

.floating-btn .buy-btn {
  position: fixed;
  bottom: 10%;
  right: 3%;
}

.floating-btn .buy-btn::before {
  content: "";
  height: 100%;
  width: 45px;
  position: absolute;
  left: 0;
  top: 0;
  background: url("https://www.nerolac.com/sites/all/themes/bootstrap/images/call-sprite.gif") no-repeat 10px 15px;
  background-size: 20px;
  border-radius: 0 30px 30px 0;
  background-color: #e7004c;
}

.buy-btn {
  width: 110px;
  height: 50px;
  background-color: white;
  position: relative;
  cursor: pointer;
}

.buy-btn button {
  color: black;
  text-transform: uppercase;
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translate(0, -50%);
  background-color: white;
  font-size: large;
  font-weight: 600;
  border: none;
  cursor: pointer;

}